@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Paso1";
}
@*@model PasosVentaODM.Models.Formulario*@
<style>
    .pas1 {
        width: 30px;
        height: 30px;
        background: #023765;
        text-align: center;
        line-height: 29px;
        border-radius: 50px;
        font-size: larger;
        color: white;
    }

    .pas2, .pas3, .pas4 {
        width: 30px;
        height: 30px;
        background: #edeff0;
        border-radius: 50px;
    }

    .ocultar {
        display: none;
    }
</style>
<div class="row cuadroVenta">
    <div class="col-lg-3 col-md-6 mt-3 mb-lg-3 origen">
        <div id="origen">
            <span id="orgspan">ORGINEN</span>
            <select id="org1" class="orgdest org1">
                <option disabled="">¿De Dónde Sales?</option>
                <option value="ACR">Acambaro Gto</option>
                <option value="ACT">Actopan Hgo</option>
                <option value="AEA">Aeropuerto Mty. A N.l</option>
                <option value="CNJ">Agencia Conejo</option>
                <option value="APS">Agua Prieta Son</option>
                <option value="AGU2">Aguascalientes Agr. Norte</option>
                <option value="AGU">Aguascalientes C. Autobus</option>
                <option value="AHU">Ahuacatlán Nay</option>
                <option value="AHT">Ahuetita</option>
                <option value="ALL">Allende Chih</option>
                <option value="CAO">Alvaro Obregon Chih</option>
                <option value="ANG">Angostura Chih</option>
                <option value="ASC">Ascención Chih</option>
                <option value="ATA">Atlacomulco Mex</option>
                <option value="BAC">Bachiniva Chih</option>
                <option value="BJU">Benito Juarez Chih</option>
                <option value="SCD">Cadereyta Jimenez N.l.</option>
                <option value="CCA">Camargo Chih</option>
                <option value="CGT">Camargo Tamps.</option>
                <option value="C101">Campo 101 Chih</option>
                <option value="CSM">Campo Seis Y Medio Chih</option>
                <option value="CNE">Cananea Son</option>
                <option value="CIJ">Cañada De Islas Jal</option>
                <option value="CAS">Casas Grandes Chih</option>
                <option value="CYA">Celaya Gto</option>
                <option value="CHA">Chapulhuacán Hgo</option>
                <option value="CUU">Chihuahua Central Autobus</option>
                <option value="PIM">Chihuahua Pistolasmeneses</option>
                <option value="ZOO">Chihuahua Zootecnia</option>
                <option value="CHIN">China N.l.</option>
                <option value="ATG">Ciudad Altamirano Gro</option>
                <option value="CTO">Ciudad Cuauhtemoc Chih</option>
                <option value="DEL">Ciudad Delicias Chih</option>
                <option value="CGZ">Ciudad Guzman Jal</option>
                <option value="HID">Ciudad Hidalgo Mich</option>
                <option value="JIM">Ciudad Jimenez Chih</option>
                <option value="CJS">Ciudad Juarez Chih</option>
                <option value="CDM">Ciudad Mante Tamps</option>
                <option value="MIE">Ciudad Mier Tamps.</option>
                <option value="CEM">Ciudad Valles Slp</option>
                <option value="CVM">Ciudad Victoria Tamps</option>
                <option value="CIN">Col. Independencia Chih</option>
                <option value="COL">Colima Col</option>
                <option value="QVO">Colonia Quevedo Chih</option>
                <option value="CLT">Colotlán Jal</option>
                <option value="COO">Concepción Del Oro Zac</option>
                <option value="CBC">Corral Blanco</option>
                <option value="BEJ">Crucero Belén Jal</option>
                <option value="CPA">Crucero Palomas Chih</option>
                <option value="CTP">Crucero Tepatitlán Jal</option>
                <option value="CUE">Cuencamé Dgo</option>
                <option value="CUI">Cuitaca Son</option>
                <option value="CUT">Cutzamala Gro</option>
                <option value="DHI">Dolores Hidalgo Gto</option>
                <option value="DGO">Durango Central Autobus</option>
                <option value="EBA">Ebano Slp</option>
                <option value="BAT">El Batán Jal</option>
                <option value="ROD">El Rodeo Dgo</option>
                <option value="ENC">Encarnación De Díaz Jal</option>
                <option value="FIM">Fco. I. Madero Dgo</option>
                <option value="FRE">Fresnillo Zac</option>
                <option value="GAL">Galeana Chih</option>
                <option value="VGC">Gema Cuitzeo Mich</option>
                <option value="GBRA">General Bravo N.l.</option>
                <option value="GFA">Gomez Farias Chih</option>
                <option value="GOP">Gomez Palacio C. Autobus</option>
                <option value="HAM">Gomez Palacio T. Hamburgo</option>
                <option value="SLU">Granjas Sta. Lucia Dgo</option>
                <option value="GDL">Guadalajara Jal</option>
                <option value="GD1">Guadalajara Modulo 1</option>
                <option value="AEG">Aeropuerto Gdl Jal</option>
                <option value="GVI">Guadalupe Victoria Dgo</option>
                <option value="GTO">Guanajuato Gto</option>
                <option value="HA2">Hamburgo 2 Dgo</option>
                <option value="AHG">Hidalgo Reynosa</option>
                <option value="AHG">Hidalgo Reynosa Tamps</option>
                <option value="HUA">Huauchinango Pue</option>
                <option value="HUE">Huejucar Jal</option>
                <option value="ZAR">Ignacio Zaragoza Chih</option>
                <option value="IPO">Irapuato Gto</option>
                <option value="IXP">Ixtapa Zihuatanejo Gro</option>
                <option value="IXT">Ixtlan Del Rio Nay</option>
                <option value="JGY">Jagueyes Chih</option>
                <option value="JAP">Jalpa Zac</option>
                <option value="JAN">Janos Chih</option>
                <option value="JAR">Jaralillo Jal</option>
                <option value="JER">Jerez Zac</option>
                <option value="JSA">Jesus Aguirre</option>
                <option value="JU2">Juan Aldama 2 Zac</option>
                <option value="JUA">Juan Aldama Zac</option>
                <option value="JUC">Juchipila. Zac.</option>
                <option value="LBB">La Barca Jal</option>
                <option value="LCM">La Copa Matamoros Tamps</option>
                <option value="LJA">La Joya Coah</option>
                <option value="MIN">La Mina Chih</option>
                <option value="LPI">La Piedad Mich</option>
                <option value="LPN">La Pinta Chih</option>
                <option value="LQE">La Quemada Chih</option>
                <option value="LZA">La Zarca Dgo</option>
                <option value="LGS">Lagos De Moreno Jal</option>
                <option value="LAG">Lagunitas Chih</option>
                <option value="LNI">Las Nieve Dgo</option>
                <option value="LVA">Las Varas Chih</option>
                <option value="LAC">Lazaro Cardenas Chih</option>
                <option value="LZC">Lazaro Cardenas Mich</option>
                <option value="LEB">Lebaron Chih</option>
                <option value="BJX">Leon Gto</option>
                <option value="LOR">Loreto Zac</option>
                <option value="LRY">Los Reyes Mich</option>
                <option value="LMO">Luis Moya. Zac.</option>
                <option value="ZLO">Manzanillo Col</option>
                <option value="MVT">Maravatio Mich</option>
                <option value="PLF">Mat. Plaza Fiesta Tamps</option>
                <option value="MAC">Matamoros Coahuila Coah</option>
                <option value="MAM">Matamoros. Tamps.</option>
                <option value="MA57">Matehuala 57</option>
                <option value="MHN">Matehuala Noreste</option>
                <option value="MA57">Matehuala Terminal 57</option>
                <option value="MHN">Matehuala Slp</option>
                <option value="MLP">Matlapa Slp</option>
                <option value="MZT">Mazatlan Sin.</option>
                <option value="MDM">Mercado Del Mar Gdl Jal</option>
                <option value="MTP">Metro Plaza</option>
                <option value="MEX">Mexico Central Norte</option>
                <option value="OBS">Mexico Observatorio</option>
                <option value="MAL">Miguel Aleman. Tamps.</option>
                <option value="MTY">Monterrey Central Autobus</option>
                <option value="MTF">Monterrey Terminal Fierro</option>
                <option value="MLM">Morelia Mich</option>
                <option value="MRL">Moroleon Gto</option>
                <option value="MOY">Moyahua Zac</option>
                <option value="NOC">Nochistlán Zac</option>
                <option value="NOG">Nogales Son</option>
                <option value="NDI">Nombre De Dios Dgo</option>
                <option value="NLD">Nuevo Laredo Tamps.</option>
                <option value="OCO">Ocotlan Jal</option>
                <option value="OJI">Ojinaga Chih</option>
                <option value="OCN">Ojo Caliente Nte-sur Zac</option>
                <option value="PCA">Pachuca Hgo</option>
                <option value="PAR">Parral. Chih.</option>
                <option value="PTC">Patzcuaro Mich</option>
                <option value="PEB">Peña Blanca Chih</option>
                <option value="PBC">Peñon Blanco Dgo</option>
                <option value="SPM">Periférico Matamoro tamps</option>
                <option value="PAZ">Poza Rica Ver</option>
                <option value="PPA">Puerto Palomas Chih.</option>
                <option value="QET">Queretaro Qro</option>
                <option value="RCO">Rancho Colorado Chih</option>
                <option value="REX">Reynosa. Tams.</option>
                <option value="RFM">Ricardo Flores Magon. Chi</option>
                <option value="RIB">Rio Bravo Tamps.</option>
                <option value="RGR">Rio Grande Zac</option>
                <option value="SAI">Sain Alto Zac</option>
                <option value="SMX">Salamanca Gto</option>
                <option value="SLN">Salinas Slp</option>
                <option value="SWN">Saltillo Norte</option>
                <option value="SLW">Saltillo Central Autobus</option>
                <option value="SIO">Saltillo Suc. El Indio</option>
                <option value="SAV">Salvatierra Gto</option>
                <option value="SBV">San Buenaventura. Chih.</option>
                <option value="SFG">San Felipe Gto Gto</option>
                <option value="SJL">San Juan De Los Lagos jal</option>
                <option value="LZO">San Lorenzo Chih</option>
                <option value="SPA">San Luis De La Paz Gto</option>
                <option value="SLP">San Luis Potosi. Slp.</option>
                <option value="SMA">San Miguel Allende Gto</option>
                <option value="APU">San Pedro Apulco Zac</option>
                <option value="SMO">Santa Maria Del Oro Dgo</option>
                <option value="SAU">Saucillo Chih</option>
                <option value="SIL">Silao Gto</option>
                <option value="SOM">Sombrerete Zac</option>
                <option value="SOT">Soto Mainez Chih</option>
                <option value="CFN">Suc Contraflujo Norte</option>
                <option value="CZO">Suc. El Carrizo Hgo. Dgo</option>
                <option value="MXS">Suc. Mexticacan Jal</option>
                <option value="STZ">Suc. Tecnológico Zac</option>
                <option value="SMOR">Sucursal Morelos</option>
                <option value="PA2">Sucursal Parral Chih</option>
                <option value="SCA">Sucursal Santa Catarina</option>
                <option value="SLX">Super Lexo</option>
                <option value="TAB">Tabasco. Zac.</option>
                <option value="TMZ">Tamazunchale Slp</option>
                <option value="TAH">Tamiahua Ver</option>
                <option value="TAM">Tampico Central Autobus</option>
                <option value="TMN">Tampico Norte Tamps</option>
                <option value="TLE">Tampico Terminal Ejercito</option>
                <option value="TAN">Tamuin Slp</option>
                <option value="TEC">Tecoman Col</option>
                <option value="TEJ">Tejupilco Mex</option>
                <option value="TEO2">Teocaltiche 2 Jal</option>
                <option value="TEO">Teocaltiche Jal</option>
                <option value="TPT">Tepatitlan Jal</option>
                <option value="TNY">Tepic Central Autobus Nay</option>
                <option value="CLO">Tepic Terminal Colosio</option>
                <option value="TPZ">Tepotzotlán Mex</option>
                <option value="TEU">Teul De Glez Ortega Zac</option>
                <option value="TLA">Tlaltenango Zac</option>
                <option value="TLC">Toluca Mex</option>
                <option value="TRC">Torreón Coah</option>
                <option value="TLI">Tren Ligero Jal</option>
                <option value="TCA">Tres Castillos. Chih.</option>
                <option value="THG">Tula Hgo</option>
                <option value="TUJ">Tuxpan Jalisco Jal</option>
                <option value="TXM">Tuxpan Michoacán Mich</option>
                <option value="TCT">Tuxpan Term. Centro Ver</option>
                <option value="TXP">Tuxpan Veracruz</option>
                <option value="URI">Uriangato</option>
                <option value="UPN">Uruapan Mich</option>
                <option value="VHT">Valle Hermoso Tamps</option>
                <option value="VENC">Venecia Tamps.</option>
                <option value="VGE">Vicente Guerrero Dgo</option>
                <option value="VAH">Villa Ahumada Chih</option>
                <option value="VOC">Villa Ocampo. Dgo</option>
                <option value="VIL">Villanueva Zac</option>
                <option value="VREA">Villarreales</option>
                <option value="VIG">Villas De Guadiana Dgo</option>
                <option value="YAH">Yahualica Jal</option>
                <option value="YUR">Yuriria Gto</option>
                <option value="ZCL">Zacatecas Central Autobus</option>
                <option value="GZA">Zacatecas Trmnl Guadalupe</option>
                <option value="ZAM">Zamora Mich</option>
                <option value="ZPP">Zapopan Jal</option>
                <option value="ZIH">Zihuatanejo Gro</option>
                <option value="ZTC">Zitacuaro Mich</option>
            </select>
            @*<input id="org1" class="orgdest " type="text" value="MÉXICO, CENTRAL DEL NORTE" />*@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-3 mb-lg-3 destino">
        <div id="destino">
            <span id="destspan">DESTINO</span>
            @*<input id="dest1" class="orgdest" type="text" value="MONTERREY, CENTRAL AUTOBÚS" />*@
            <select id="dest1" name="destinocode" class="valores orgdest">
                <option selected="selected" disabled>¿A Dónde Viajas?</option>
                <!-- <option value="MTY">Monterrey Nuevo Leon</option> -->
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 mt-3 mb-lg-3 fecha1">
        @*<div id="fecha1"><span id="fecha">SALIDA</span><input id="datepicker" readonly="readonly" class="fechaCom"
            type="text" value="@Model.FeSalida" /></div>*@
        <div id="fecha1">
            <span id="fecha">SALIDA</span>
            <input id="datepicker" class="fechaCom" readonly="readonly" type="text" value="" />
        </div>
        @*<input type="hidden" id="fechaSalOculta" value="@Model.FechaSalida" />*@
    </div>
    <div class="col-lg-2 col-md-6 mt-3 mb-lg-3 fecha2">
        @*<div id="fecha2"><span id="fecha">REGRESO</span><input id="datepicker2" readonly="readonly" class="fechaCom"
            type="text" value="@Model.FeRegreso" /><i id="quitar" class="">X</i></div>*@
        <div id="fecha2">
            <span id="fecha">REGRESO</span>
            <input id="datepicker2" readonly="readonly" class="fechaCom" type="text" value="" />
            <i id="quitar" class="">X</i>
        </div>
        @*<input type="hidden" id="fecharegreso" value="@Model.FechaRegreso" />*@
    </div>
    <div class="col-lg-1 mt-3 mb-3">
        <div id="json_post" class="buscar btn btn-dark">Buscar</div>
    </div>

</div>
@*<div id="cuadroVenta">
    <div id="origen"><span id="orgspan">ORGINEN</span><input class="orgdest" type="text" value="MÉXICO, CENTRAL DEL NORTE"
    /></div>
    <div id="destino"><span id="destspan">DESTINO</span><input class="orgdest" type="text" value="MONTERREY, CENTRAL
    AUTOBÚS" /></div>

    <div id="fecha1"><span id="fecha">SALIDA</span><input class="fechaCom" type="text" value="JUE 08 OCT 2020" /></div>
    <div id="fecha2"><span id="fecha">REGRESO</span><input class="fechaCom" type="text" value="JUE 15 OCT 2020" /></div>
    </div>*@
<div style="display: none;">
    <p id="idOrigenIata">@ViewData["OrigenIATA"]</p>
    <p id="idDestinoIata">@ViewData["DestinoIATA"]</p>
    <p id="idFechSalida">@ViewData["FechaSalida"]</p>
    <p id="idFechRegreso">@ViewData["FechaRegreso"]</p>

    <p id="idAdulto">@ViewData["Adulto"]</p>
    <p id="idMenos">@ViewData["Menores"]</p>
    <p id="idInapam">@ViewData["Inapam"]</p>
    <p id="idEstudiante">@ViewData["Estudiantes"]</p>
    <p id="idProfesor">@ViewData["Profesores"]</p>

    <p id="idConPas1">@ViewData["Consecutivo"]</p>
    <p id="idConPas2">@ViewData["ConsPas2"]</p>

    <p id="btnSolicita">@ViewData["btnpulsado"]</p>

</div>


@*<p>Consecutivo: @ViewData["Consecutivo"]</p>
    <p>Consecutivo: @ViewBag.Consecutivo</p>*@

<div class="container fechasCinco mt-3">
    <div class="row">
        <div id="fe1P" class="col-lg-2 diasform">
            <p id="fe1" onclick="bqcincofechas(this);"></p>
            <input class="fe1" type="hidden" value="">
        </div>
        <div id="fe2P" class="col-lg-2 diasform">
            <p id="fe2" onclick="bqcincofechas(this);"></p>
            <input class="fe2" type="hidden" value="">
        </div>
        <div id="fe3P" class="col-lg-2 diasform">
            <p id="fe3" onclick="bqcincofechas(this);"></p>
            <input class="fe3" type="hidden" value="">
        </div>
        <div id="fe4P" class="col-lg-2 diasform">
            <p id="fe4" onclick="bqcincofechas(this);"></p>
            <input class="fe4" type="hidden" value="">
        </div>
        <div id="fe5P" class="col-lg-2 diasform">
            <p id="fe5" onclick="bqcincofechas(this);"></p>
            <input class="fe5" type="hidden" value="">
        </div>
    </div>
</div>

<div id="cronos" class="container">
    <div class="row">
        <div class="col align-self-center">
            <p><span id="minute">04</span>:<span id="second">59</span></p>
        </div>
    </div>
</div>


<div class="row contpaso1">
    <div class="pasos">
        <div class="bus"><i class="fas fa-bus-alt"></i></div>
        <div class="pas1">1</div>
        <div class="linea"></div>
        <div class="pas2"></div>
        <div class="linea"></div>
        <div class="pas3"></div>
        <div class="linea"></div>
        <div class="pas4"></div>
    </div>
    <div class="col-lg-3 horarios">
        @*<div id="todos" class="diasform horarioform inactive">*@
        <div id="salReg" class="">
            <h4 id="Sal1">Salida</h4>
            <h4 id="Reg1">Regreso</h4>
        </div>

        <div id="todos" class="inactive">
            <h4 style="line-height: 26px; font-size: 16px; font-weight: 600;">TODOS <span class="totClass">0</span></h4>
        </div>
        <div id="madrugada" class="inactive">
            <h4 style="line-height: 26px; font-size: 16px; font-weight: 600;">MADRUGADA<span class="totClass">0</span></h4>
        </div>
        <div id="dia" class="inactive">
            <h4 style="line-height: 26px; font-size: 16px; font-weight: 600;">MAÑANA<span class="totClass">0</span></h4>
        </div>
        <div id="tarde" class="inactive">
            <h4 style="line-height: 26px; font-size: 16px; font-weight: 600;">TARDE<span class="totClass">0</span></h4>
        </div>
        <div id="noche" class="inactive">
            <h4 style="line-height: 26px; font-size: 16px; font-weight: 600;">NOCHE<span class="totClass">0</span></h4>
        </div>
    </div>
    @*//////////////// TARJETAS DINAMICAS VIAJE SENCILLO ///////////////////////*@
    <div id="tarjetas1" class="col-lg-8 ">

    </div>
    @*//////////////// TARJETAS DINAMICAS VIAJE REDONDO ///////////////////////*@
    <div id="tarjetas2" style="display: none;" class="col-lg-8">

    </div>

    <div id="cargando" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>


<div style="display: none;">
    <form name="paso2" method="POST" action="Paso2">
        @*///// DATOS DEL FORMULARIO INICIAL /////*@
        <input id="adulto" name="adulto" type="hidden" value="@ViewData["Adulto"]">
        <input id="menores" name="menores" type="hidden" value="@ViewData["Menores"]">
        <input id="senectud" name="senectud" type="hidden" value="@ViewData["Inapam"]">
        <input id="estudiantes" name="estudiantes" type="hidden" value="@ViewData["Estudiantes"]">
        <input id="profesores" name="profesores" type="hidden" value="@ViewData["Profesores"]">

        <input id="origencode" name="origencode" type="hidden" value="">
        <input id="origCompleto" name="origCompleto" type="hidden" value="">


        <input id="destinocode" name="destinocode" type="hidden" value="">
        <input id="destCompleto" name="destCompleto" type="hidden" value="">

        <input id="fechasalida" name="fechasalida" type="hidden" value="">
        <input id="fecharegreso" name="fecharegreso" type="hidden" value="">

        @*//// DATOS DE VIAJE SALIDA /////*@
        <input id="logoEmpresaSalida" name="logoEmpresaSalida" type="hidden" value="">
        <input id="logoServImgSalida" name="logoServImgSalida" type="hidden" value="">

        <input id="pE_nClaveCorrida" name="pE_nClaveCorrida" type="hidden" value="">
        <input id="pE_aFechaSalidaInicioCorrida" name="pE_aFechaSalidaInicioCorrida" type="hidden" value="">

        <input id="pE_aFechaBoleto" name="pE_aFechaBoleto" type="hidden" value="">
        <input id="pE_hHoraSalidaBoleto" name="pE_hHoraSalidaBoleto" type="hidden" value="">

        <input id="FechaLlegadaSalida" name="FechaLlegadaSalida" type="hidden" value="">
        <input id="HoraLlegadaSalida" name="HoraLlegadaSalida" type="hidden" value="">

        <input id="pE_CorridaEmpresa" name="pE_CorridaEmpresa" type="hidden" value="">

        @*///// DATOS DE VIAJE REGRESO //////*@
        <input id="logoEmpresaRegreso" name="logoEmpresaRegreso" type="hidden" value="">
        <input id="logoServImgRegreso" name="logoServImgRegreso" type="hidden" value="">

        <input id="pE_nClaveCorridaRegreso" name="pE_nClaveCorridaRegreso" type="hidden" value="">
        <input id="pE_aFechaSalidaInicioCorridaRegr" name="pE_aFechaSalidaInicioCorridaRegr" type="hidden" value="">

        <input id="pE_aFechaBoletoRegreso" name="pE_aFechaBoletoRegreso" type="hidden" value="">
        <input id="pE_hHoraSalidaBoletoRegreso" name="pE_hHoraSalidaBoletoRegreso" type="hidden" value="">

        <input id="FechaLlegadaRegreso" name="FechaLlegadaRegreso" type="hidden" value="">
        <input id="HoraLlegadaRegreso" name="HoraLlegadaRegreso" type="hidden" value="">

        <input id="pE_CorridaEmpresaRegreso" name="pE_CorridaEmpresaRegreso" type="hidden" value="">

        @* /// DATOS COMPARTIDOS ///*@
        <input id="consPas2" name="consPas2" type="hidden" value="">
        <input id="pE_nControlCache" name="pE_nControlCache" type="hidden" value="1">

        <button type="submit">Envíe su mensaje</button>
    </form>
</div>

<!--<button id="carga_ajax">Carga contenido</button>
<button id="json_get">Request JSON GET</button>-->
@*<button id="json_post">Request JSON POST</button>*@
<!--<div id="mensaje"></div>
<div id="loading">cargando...</div>-->
@*/////////////// CREAR SECION ///////////*@
<script src="js/paso1/wsConsecutivo.js"></script>

@*/////////////// PLUGIN SELECT ORIGEN DESTINO ///////////*@
<script src="js/paso1/pluginSelectOrgDes.js"></script>

@*/////////////// BUSCA DESTINOS ///////////*@
<script src="js/paso1/buscaDestinos.js"></script>

@*/////////////// CARGA TARJETAS VIAJE SENCILLO ///////////*@
<script src="js/paso1/cargarTarViajSencillo.js"></script>

@*/////////////// CARGA TARJETAS VIAJE SENCILLO ///////////*@
<script src="js/paso1/cargarTarViajRedondo.js"></script>

@*/////////////// FILTRO DE HORRARIOS ///////////*@
<script src="js/paso1/filtroHorarios.js"></script>

@* //////////// FILTRAR HORARIOS SALIDA //////////////////// *@
<script src="js/paso1/ocultaTarjViajSencHorario.js"></script>

@* //////////// FILTRAR HORARIOS REGRESO //////////////////// *@
<script src="js/paso1/ocultaTarjViajRegHorario.js"></script>

@* ////// ENVIA LOS DATOS SALIDA AL PASO 2 ///////// *@
<script src="js/paso1/enviaTarjSalidaP2.js"></script>

@* /////// ENVIA LOS DATOS REGRESO AL PASO 2 /////// *@
<script src="js/paso1/enviaTarjRegresoP2.js"></script>

@* ///////  EVIA EL FORMULARIO SALIDA /////////////*@
<script src="js/paso1/enviarFormSalida.js"></script>

@* ///////  EVIA EL FORMULARIO SALIDA /////////////*@
<script src="js/paso1/enviarFormularioRegreso.js"></script>

@* ///////  EVIA EL FORMULARIO REGRESO /////////////*@
<script src="js/paso1/enviaTarjRegresoP2.js"></script>

@* //////// ASIGNA LAS 5 FECHAS COMO TEXTO //////////////// *@
<script src="js/paso1/texto5fechas.js"></script>

@* ////// TOMA LOS VALORES QUE VIENEN DEL FORMULARIO *@
<script src="js/paso1/valoresdelFormulario.js"></script>

@* //////// ASIGNA EL ORIGEN Y DESTINO QUE VIENEN DEL FORMULARIO ////////// *@
<script src="js/paso1/buscaOrgDest.js"></script>

@* //////// NUMERO DE CORRIDAS POR HORARIO ////////// *@
<script src="js/paso1/Horario.js"></script>

@* //////// BUSCA LAS CORIDAS POR LAS 5 FECHAS ////////// *@
<script src="js/paso1/bqCincoFechas.js"></script>

@* //////// BUSCA LAS CORIDAS POR LAS 5 FECHAS ////////// *@
<script src="js/paso1/quitaReg.js"></script>